@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

.AppBody {
  background: linear-gradient(
    180deg,
    rgba(34, 40, 49, 1) 0%,
    rgba(57, 62, 70, 1) 100%
  );
  min-width: 900px;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #222831;
}

.title {
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-size: 60px;
  color: #ffd369;
  text-shadow: 3px 3px #222831;
  text-transform: capitalize;
}

.phonetic {
  text-transform: lowercase;
}

.results {
  text-transform: lowercase;
}

.results::first-letter {
  text-transform: uppercase;
  font-size: 20px;
}

.Meanings {
  border-style: double;
  border-color: #31d2f2;
  border-top: none;
  border-bottom: none;
  border-radius: 6px;
  border-width: 6px;
  background: rgb(255, 255, 255, 0.5);
  margin-bottom: 10px;
  padding-left: 10px;
  padding-bottom: 1px;
  box-shadow: 0 6px 6px rgba(71, 71, 71, 0.5);
}

.word {
  text-align: center;
  text-transform: capitalize;
  text-shadow: 3px 3px #222831;
  font-size: 60px;
  color: #ffd369;
  padding: 0px;
  font-weight: 900;
}

.origin {
  font-size: 10px;
  text-align: left;
}

.synonyms {
  border-color: rgba(71, 71, 71, 0.5);
  border-width: 1px;
  border-style: double;
  border-radius: 5px;
  margin: 2px;
  padding: 2px;
}

.sound {
  display: inline-block;
  color: #212529;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: none;
}

.SlideShow {
  min-height: 50%;
  border-radius: 5px;
  margin-bottom: 5px;
}

.searchEngine {
  margin: 0px 20%;
}

a {
  color: #ffd369;
  text-decoration: none;
}
